@inherits BasicGameView<LifeBoardGameMainViewModel>
<p>Welcome to LifeBoardGame</p>
<GameButtonComponent Display="End Turn" CommandObject="EndCommand" />
<LabelGridComponent DataContext="DataContext!.VMData" Labels="_labels" />
