@inherits BasicGameView<ChessMainViewModel>
<p>Welcome to Chess</p>
<GameButtonComponent Display="End Turn" CommandObject="EndCommand" />
<LabelGridComponent DataContext="DataContext!.VMData" Labels="_labels" />
