@inherits BasicGameView<CribbagePatienceMainViewModel>
<p>Welcome to CribbagePatience</p>
@if (DataContext!.DeckPile != null)
{
    <DeckOfCardsDrawPileBlazor R="CribbagePatienceCardInfo" DeckPile="DataContext.DeckPile" />
}