@inherits BasicGameView<RiskMainViewModel>
<p>Welcome to Risk</p>
<GameButtonComponent Display="End Turn" CommandObject="EndCommand" />
<LabelGridComponent DataContext="DataContext!.VMData" Labels="_labels" />
