@inherits BasicGameView<ClockSolitaireMainViewModel>
<p>Welcome to ClockSolitaire</p>
@if (DataContext!.DeckPile != null)
{
    <DeckOfCardsDrawPileBlazor R="ClockSolitaireCardInfo" DeckPile="DataContext.DeckPile" />
}