@inherits BasicGameView<SolitaireCardGamesSimpleMainViewModel>
<p>Welcome to SolitaireCardGamesSimple</p>
@if (DataContext!.DeckPile != null)
{
    <DeckOfCardsDrawPileBlazor R="SolitaireCardGamesSimpleCardInfo" DeckPile="DataContext.DeckPile" />
}