@inherits BasicGameView<TriangleSolitaireMainViewModel>
<p>Welcome to TriangleSolitaire</p>
@if (DataContext!.DeckPile != null)
{
    <DeckOfCardsDrawPileBlazor R="TriangleSolitaireCardInfo" DeckPile="DataContext.DeckPile" />
}